<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        >

  <!-- Berechtigungen -->
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

  <application>


    <!--Provider -->
    <provider
      android:name="de.mvhs.android.zeiterfassung.db.TimeDataProvider"
      android:authorities="de.mvhs.android.zeiterfassung.provider"
      android:enabled="true"
      android:exported="false"/>
  </application>

</manifest>