<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

  <application>

    <!-- Content Provider AUTHORITY über eigene Manifest-Datei definieren -->
    <!--Provider -->
    <!--<provider-->
      <!--android:name="de.mvhs.android.zeiterfassung.db.TimeDataProvider"-->
      <!--android:authorities="de.mvhs.android.zeiterfassung.pro.provider"-->
      <!--android:enabled="true"-->
      <!--android:exported="false"/>-->
  </application>

</manifest>